#include "resource.h"
#include "../src/version.hpp"
#include <winver.h>

IDI_VANTA ICON "../assets/favicon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VANTA_VERSION_FILE
 PRODUCTVERSION VANTA_VERSION_FILE
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Vanta\0"
            VALUE "FileDescription", "Vanta external overlay\0"
            VALUE "FileVersion", VANTA_VERSION_FILE_STRING "\0"
            VALUE "InternalName", "vanta.exe\0"
            VALUE "OriginalFilename", "vanta.exe\0"
            VALUE "ProductName", "Vanta\0"
            VALUE "ProductVersion", VANTA_VERSION_FILE_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
